/* CSS Document */
* {
 padding:0;
 margin:0;
 border:0;
}

body {
 background: #f9e933;
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5 {
 font-family: 'Denk One', sans-serif;
}

header, main, footer {
 min-width: 855px;
 font-size:14px;
}
header .container, main .container, footer .container {
 max-width: 855px;
 margin: auto;
}

header {
 background: white;
 padding: 20px;
 overflow: auto;
 border-bottom: 2px double #8B0002;
}
header h1 {
 font-size:  50px;
 font-weight:normal;
 font-style: italic;
 color:#CD0003;
 float: left;
 width: 570px;
}
header nav {
 float: right;
 width: 285px;
}
header nav a {
 font: 20px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-decoration:none;
 color: #C76A01;
}

main {
 padding:38px 0;
 background: white;
 overflow:hidden;
}
.tabs a span {
display: inline-block;
border-radius: 5px 5px 0 0;
width: 100px;
margin-right: 10px;
text-align: center;
background: #ddd;
padding: 5px;
}
.tabs a span.active {
background: #eee;
}

main aside {
 float:left;
 width:600px;
}
main h2 {
 font-size: 28px;
 font-weight:bold;
 padding-bottom:8px;
}
main h3 {
 font-size: 20px;
 font-weight:bold;
 padding: 13px 0 5px;
}
main img {
 float:right;
 width:150px;
}

footer {
 line-height:16px;
 padding:45px 0 18px;
 overflow:hidden;
}
footer .container {
}
footer h5 {
 font-size:20px;
 padding-bottom:20px;
 color: #873A00;
}
footer .contact {
 float:left;
 width:600px;
}
footer .sitemap ul, footer .support {
 list-style: none;
 color:#925600;
}
footer .sitemap {
 float:left;
 width:150px;
}
footer .support {
 padding-top:35px;
 float:right;
 width:100px;
}
footer a {
 text-decoration:none;
 color:#CD0003;
}